body{
    background-color:black;
}
.typee input{
border:2px solid white;
border-radius: 23px;
width:700px;
max-width: 900px;
height:35px;
background-color: beige;
text-align: center;
}
.typee{
width:100%;
height:auto;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
margin:25px;
}
.storage{
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: center;
    row-gap: 2px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height:350px;
    max-height: 100%;
    overflow: auto;
    background-color:cornflowerblue;
    border: 5px solid white;
}

